<div class="page-header">
  <h2>
    Draw service areas
  </h2>
</div>

<div>
  <ui-gmap-google-map id="map"
       center="map.center"
       pan="map.pan"
       zoom="map.zoom"
       draggable="true"
       refresh="map.refresh"
       options="map.options"
       events="map.events"
       bounds="map.bounds">

          <ui-gmap-free-draw-polygons polygons="map.polys" draw="map.draw" ></ui-gmap-free-draw-polygons>
  </ui-gmap-google-map>
</div>

<button class="btn btn-default" ng-disabled="map.polys.length>0" ng-click="draw()">Draw new service area</button>
<button class="btn btn-default" ng-click="clear()">Clear map</button>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h3>
        Drawn service area properties
      </h3>
    </div>
  </div>
  <div class="panel-body">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4 ng-click="collapseCoords = !collapseCoords" ng-init="collapseCoords=true" style="cursor: pointer">Service area coordinates (click to show)</h4>
          </div>
        </div>
        <div class="panel-body" collapse="collapseCoords">
          <table class="table">
            <thead>
              <tr>
                <th>Latitude</th>
                <th>Longitude</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="point in map.polys[0].getPath().getArray()" >
                <td>{{point.lat()}}</td>
                <td>{{point.lng()}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4>Additional data</h4>
          </div>
        </div>
        <div class="panel-body">
          <form role="form" ng-submit="saveArea()">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">Name</div>
                <input class="form-control" type="text" ng-model="newArea.name" placeholder="Name">
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Save Service Area</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
